//For Anchor Tags
#about{
  margin-top: -4%;
  height: 1px;
  position: absolute;
}

#subscribe{
  margin-top: -10%;
  height: 1px;
  position: absolute;
}

#advertise{
  margin-top: 0%;
  height: 1px;
  position: absolute;
}

#contact{
  margin-top: -10%;
  height: 1px;
  position: absolute;
}

//Header styles and logo

.brand-logo{
  margin-top: 10px;
}
